.transfer_view {
    margin: 100px auto 0;
    width: 200px;
    color: #fff;
    > p {
        margin-bottom: 6px;
    }
    > input {
        margin-bottom: 6px;
    }
    > span {
        display: block;
        font-size: 12px;
        margin-top: -6px;
        margin-bottom: 16px;
        color: #666;
    }
}